@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

button{
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}